<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>TTR Simulator</title>
</head>
<body>
  <div class="container">
    <div class="logo">
      <img class="ttr-logo" src="imgs/TTR_FINAL_logo.webp">
    </div>
    <div class="cogs">
      
    </div>
    <div class="gags">
      <div class="gag-track" style="background-color: #c48bee;">
        <div class="gag-track-info">
          <p class="gag-track-name">TOON-UP</p>
          <input class="gag-track-xp" type="text" placeholder="0 / 10000">
        </div>
        <div class="gag-track-gags">
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
        </div>
      </div>

      <div class="gag-track" style="background-color: #eaf158;">
        <div class="gag-track-info">
          <p class="gag-track-name">TRAP</p>
          <input class="gag-track-xp" type="text" placeholder="0 / 10000">
        </div>
        <div class="gag-track-gags">
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
        </div>
      </div>

      <div class="gag-track" style="background-color: #49b347;">
        <div class="gag-track-info">
          <p class="gag-track-name">LURE</p>
          <input class="gag-track-xp" type="text" placeholder="0 / 10000">
        </div>
        <div class="gag-track-gags">
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
        </div>
      </div>

      <div class="gag-track" style="background-color: #5765e0;">
        <div class="gag-track-info">
          <p class="gag-track-name">SOUND</p>
          <input class="gag-track-xp" type="text" placeholder="0 / 10000">
        </div>
        <div class="gag-track-gags">
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
        </div>
      </div>

      <div class="gag-track" style="background-color: #f08740;">
        <div class="gag-track-info">
          <p class="gag-track-name">THROW</p>
          <input class="gag-track-xp" type="text" placeholder="0 / 10000">
        </div>
        <div class="gag-track-gags">
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
        </div>
      </div>

      <div class="gag-track" style="background-color: #ef3dbc;">
        <div class="gag-track-info">
          <p class="gag-track-name">SQUIRT</p>
          <input class="gag-track-xp" type="text" placeholder="0 / 10000">
        </div>
        <div class="gag-track-gags">
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
        </div>
      </div>

      <div class="gag-track" style="background-color: #40e4ef;">
        <div class="gag-track-info">
          <p class="gag-track-name">DROP</p>
          <input class="gag-track-xp" type="text" placeholder="0 / 10000">
        </div>
        <div class="gag-track-gags">
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
          <button class="gag-button"></button>
        </div>
      </div>

    </div>

    <div class="toons">

    </div>
  </div>
</body>
</html>