body {
    background-color: rgb(90, 170, 255);
}

p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(50, 50, 50);
}

button > img {
    vertical-align: center;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    display: flex;
    justify-content: center;
    height: 250px;
}

.ttr-logo {
    max-width: 500px;
}

.gags {
    margin-bottom: 16px;
}

.gag-track {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5em/15em;
}

.gag-track-gags {
    display: flex;
    align-items: center;
    height: 100%;
}

.gag-button {
    background-color: #0887dc;
    border: none;
    width: 75px;
    height: 90%;
    border-radius: 20%;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.6), inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.gag-button:hover {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.6), inset 0px -2px 3px rgba(255, 255, 255, 0.5)
}

.gag-button:hover .gag-icon {
    height: 100%;
}

.gag-button:active {
    box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
}

.gag-button:active .gag-icon {
    height: 80%;
}

.gag-icon {
    height: 90%;
    object-fit: cover;
}

.gag-track-info {
    height: 100%;
    margin-right: 12px;
}

.gag-track-name {
    font-size: 20px;
    color: rgb(50, 50, 50);
}

.gag-track-xp {
    height: 20px;
    font-size: 18px;
    width: 130px;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-color: rgba(50, 50, 50, 0.5);
}

.toons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toon {
    text-align: center;
}

.toon-gag-pick {
    background-color:#0887dc;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid;
    border-color: rgba(50, 50, 50, 0.3);
    border-width: 6px;
    margin-bottom: 4px;
    cursor: pointer;
}

.toon-gag-target {
    font-weight: bold;
    font-size: 14px;
}

.toon-laff {
    font-size: 20px;
}

.toon-name {
    font-size: 20px;
}

.cogs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    background-color: rgb(150, 150, 150);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}

.cog {
    display: flex;
    align-items: center;
    background-color: rgb(200, 200, 200);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-width: 4px;
    border-radius: 12px;
    max-width: 125px;
}

.cog-image {
    width: 50px;
    margin-right: 8px;
    cursor: pointer;
}

.cog-info {
    text-align: center;
}

.cog-level {
    text-align: center;
    width: 60px;
}

.cog-health {
    display: inline;
    text-align: center;
    width: 30px;
}